    @font-face{
        font-family: 'myfont';
        src: url('fonts/Qs_Iranyekan.ttf') format('truetype');
    }
    
    

/* 
---01 TYPOGRAFY SYSTEM 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
Font weight (px): 400

line height:
default: 1

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


color:
primary:
Tints:
Shades:
Accents:
greys:



----Shadows


-----Border-redius

----WHitespace

---- spacing system

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body {
    direction: rtl;
    text-align: right;
    font-family: 'IBM Plex Sans Arabic', sans-serif; 
    text-align: right;
    min-height: 100vh;
    line-height: 1;
    font-weight: 400;
    color: #555;
    /* background: linear-gradient(90deg,#e2e2e2, #c9d6ff) */

  }
  header{
    max-width: 170rem;
    margin: 0 auto;
    padding:0 9rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    position: relative;
  }


  header .search-box{
    flex: 1;
  position: relative;
  transform: translateY(-0.5rem);
    }

  .search-box input{
    margin-right: 2rem;
    right: -50rem;
    width: 42%;
    height: 5rem;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 1rem;
    color: gray;
    font-size: 1.6rem;
    padding-right:3rem;
}

.logo img{
    position: relative;
    width: 20rem;
    margin-right: 4rem;
}
  .search-box i {
    position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #888;
 }


.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;

    /* margin-left: 25rem; */
   
}

.log-icon{
   font-family: 'myfont';
   font-weight: 500;
    border: 1px solid #d6d6d6 ;
    padding: .7rem;
    border-radius: 8px;
    
    
}
.log-icon i{
    font-size: 1.7rem;
    transform: translateY(0.3rem);
}
.log-icon a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #333;
}


/* sapn-registerand input */
span{
  padding: 1rem;
    color: #d8d6d6;
}
.bx-basket{
    color: #333;
} 

/*///navigation////*/
.nav {
  margin: 0 auto;
  padding: 2rem;
    max-width: 170rem;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap: 3rem; 
   position: relative;
    padding: 0 9rem;
    position: absolute;
    right: 0rem;
    top:8rem;
    width: 100%; 
    font-family: 'myfont'; 
    display: flex;

    

    
   
  }
  
  .nav__links {
    list-style: none; 
    display: flex; 
    gap: 3.5rem; 
    padding: 0; 
    margin: 0;
   
  }

  .nav__links  li:first-child a{
    color: black;
    padding: 0  0.5rem ;
    /* border-left:1px solid#eee; */
  }

  .first-item li{
    color: black;
    padding: 0  0.5rem ;
    border-left:1px solid#d4d4d4;
    cursor: pointer;
  }
  
  .location-nav{
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
   position: relative;
   top: 5.5rem;
   right: -9.5rem;
   font-size: 1.2rem;
   font-family: 'myfont';
  }

  .location-nav a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
  .location-nav i{
    font-size: 1.6rem;
  }
  
  .nav__items {
    font-size: 1.2rem; 
    font-weight: 400; 
    
    position: relative;
  }
  
 
  .nav__items a {
    text-decoration: none; 
    color: #62666d;
    position: relative;
  }
  
  
  .nav__items a::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px; /* ضخامت خط */
    background-color: red; /* رنگ خط */
    width: 100%;
    transform: scaleX(0); /* خط در ابتدا پنهان است */
    transform-origin: left; /* مبدا پیش‌فرض */
    transition: transform 0.3s ease-in-out;
  }

  .nav__items a[data-direction="right"]::before {
    transform-origin: right; /* مبدا انیمیشن از راست */
  }
  
  .nav__items a:hover::before {
    transform: scaleX(1); /* نمایش کامل خط */
  }


   .nav__links i{
    font-size: 1.7rem;
    position: absolute;
    top: -0.2rem;
    right: -2rem;
 
   }
   

  
  .nav__items:nth-child(6)::after {
    content:'';
    border-left: 1px solid #d4d4d4;;
    position: absolute;
    left: -2rem;
    height: 100%;
  }
  
  .hidden{
    display: none;
}



.tooltip {
  max-width: 34rem;
  position: absolute;
  top: 11rem; /* موقعیت زیر انتخاب شهر */
  left: 11%; /* تراز وسط */
  transform: translateX(-50%);
  background-color: #2c2f5b;
  color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: 'myfont', sans-serif;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.tooltip::after {
  content: '';
  position: absolute;
  bottom: 40px; /* تنظیم مثلث */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2c2f5b transparent; /* فقط پایین رنگ دارد */
    transform: translateY(0rem);
}


 /* ************ */
 /* hidden SECTION */
 /* ************ */
 
 .location-delivery{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: absolute; /* موقعیت‌دهی مطلق */
  bottom: 100%; /* انتقال به بالای نوار آبی */
  right: 84%;
  top: 7.5rem; /* هم‌ترازی با سمت راست */
  background-color: #fff; /* رنگ پس‌زمینه اختیاری */
  padding: 1.5rem 2rem; /* فضای داخلی */
  border-radius: 0.5rem; /* گوشه‌های گرد */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه زیبا */
  font-size: 1.4rem;
  font-family: 'myfont';
  background-color: #fff2e6;
  
  }
  

 .location-delivery a {
  text-decoration: none;
  color: #f57f17;;
}
.location-delivery i{
color: #f57f17;
}
.lc{
width: 20rem;

}
.mainsub{
width: 20rem;
height: 60vh;
/* background-color: #fff; */
transform: translate(-13rem);
background-color: #eee;
border-radius: 5px;

}
/* hidden nav */
.sub-nav{
  max-height: 53.1vh;
  margin-top: 2rem;
  margin-right: 13rem;
  max-width: 50%;
  display: grid;
  position: fixed;
  grid-template-columns: 200px 600px;
 z-index: 1000;
  
  
 }

.main-links{
  position: relative;
  max-height: 50%;
  overflow: scroll;
  direction: ltr;
  list-style: none;
  overflow-x: hidden;
  background-color: #eee;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.main-links a{
  text-decoration: none;
  padding-right: 2rem;
  font-family: 'myfont';
  color: #2c2f5b;
}

.main-items{
  padding-top: 2rem;
  padding-bottom: 2rem;
 
}


.main-links li:hover{
  background-color: #fff;
 }

 .main-links li:hover a {
  color: red; /* تغییر رنگ متن در زمان hover */
}


.second-list a{
    text-decoration: none;
    padding-right: 2rem;
    font-family: 'myfont';
    color: #2c2f5b;
    
}

.second-list{
  position: relative;
  max-height: 50%;
  overflow: scroll;
  overflow-x: hidden;
  direction: ltr;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 12px;
}
.second-list li{
  padding-top: 2rem;
  padding-bottom: 2rem;
  list-style: none;
  background:#fff;
 
}



 /* ************ */
 /* swiper SECTION */
 /* ************ */
  .swiper-section{
  margin: 0;
  /* background-color: #2c2f5b; */

 }

 .swiper-img{
  margin: 0 auto;
  max-width: 140rem;
  height: 20vh;
  /* background-color: #f57f17; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow: hidden;
  
 }

 .swiper-img img{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #800080; /* حاشیه بنفش */
 }

 .swiper-img a{
    text-decoration: none;
 }

 .caption{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.6); */
 

 }

  /* ************ */
/* swiper SECTION */
/* ************ */

.swiper-section{
  margin: 3rem auto;
  /* background-color: #2c2f5b; */
 
 }
 
 .swiper-img{
  /* margin: 0 auto; */
  position: relative;
  max-width: 140rem;
  height: 20vh;
  /* background-color: #f57f17; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow: hidden;
  
 }
 
 .swiper-img img{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #800080; /* حاشیه بنفش */
 }
 .slide{
  width: 100%;
  height:100 ;
  transform: translateX(100%);
 }
 .slide a{
  
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    
 }
 
 
 .caption{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c2f5b;
  font-family: 'myfont';
  /* background-color: rgba(0, 0, 0, 0.6); */
 
 
 }
 
 .btn{
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-2rem);
  cursor: pointer;
 
 
 }
 
 .btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
 
 }
 
 .btn-right{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
 
 }
 
 .btn i{
 font-size: 2rem;
 color: #555;
 }
 
 .btn i:hover{
  cursor: pointer;
  color: black;
 }

 /* ************ */
 /* banner SECTION */
 /* ************ */
 
  .banner-section {
  position: relative; 
  max-width: 100%; 
  height: 50rem;
   overflow: hidden;
  
 }
 

 
 .slider-banner {
   display: flex;
  position: fixed;
  transition: 1s ease-in-out;
  
 }
 
 .slider-banner img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
 } 
 


 .btn--banner-left, .btn--banner-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25%;

  
}


.btn--banner-left {
  left: 89%; /* تغییر اندازه برای مناسب شدن */
}

.btn--banner-right {
  right: 5%; /* تغییر اندازه برای مناسب شدن */
}


.dots {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}


.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.4;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}


.dots__dot--active {
  /* background-color: #fff; */
  width: 2rem;
  border-radius: 10px;
  /* height: 0.5rem; */
  background-color: #fff;
  opacity: 1;
}